@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@layer components {
  /* Sidebar */
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-900 
  hover:text-white
    rounded-3xl hover:rounded-xl
    transition-all duration-150 ease-linear;
  }

  .mo-sidebar {
    @apply text-red-500 hover:bg-red-600
  }

  .cr-sidebar {
    @apply text-green-500 hover:bg-green-600
  }

  .sm-sidebar {
    @apply text-yellow-500 hover:bg-yellow-600
  }

  .st-sidebar {
    @apply text-blue-500 hover:bg-blue-600
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left z-50;
  }

  /* Blobs */
  /* @keyframes rotate {
    from {
      rotate: 0deg;
    }
    50% {
      scale: 1 1.5;
    }
    to {
      rotate: 360deg;
    }
  } */

  #montgomerie-blob{
    @apply h-[34vmax] aspect-[1] fixed
    rounded-[50%] 
    left-2/4 top-2/4 z-[-2];
    translate: -147% -77%;
    background: linear-gradient(to right, #f54952, #422680);
  }

  #crawfurd-blob{
    @apply h-[34vmax] aspect-[1] fixed
    rounded-[50%] 
    left-2/4 top-2/4 z-[-2];
    translate: -147% -77%;
    background: linear-gradient(to right, #B0F500, #073B3A);
  }

  #smith-blob{
    @apply h-[34vmax] aspect-[1] fixed
    rounded-[50%] 
    left-2/4 top-2/4 z-[-2];
    translate: -147% -77%;
    background: linear-gradient(to right, #F0BE00, #F07F00);
  }

  #stjohn-blob{
    @apply h-[34vmax] aspect-[1] fixed
    rounded-[50%] 
    left-2/4 top-2/4 z-[-2];
    translate: -147% -77%;
    background: linear-gradient(to right, #0800EF, #BD00F0);
  }
}  

/* @apply h-[34vmax] aspect-[1] absolute animate-[rotate_20s_infinite] rounded-[50%] 
left-2/4 top-2/4 z-[-2];
translate: -50% -50%; */